body{
	font:'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background-image: url("music2.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
caption{
	font: 900 1em 'Raleway', sans-serif;
    color: #33fff9;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}
h1{
    font: 600 3.5em 'Raleway', sans-serif;
    color: red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
ul{
	font: 900 1em 'Raleway', sans-serif;
     color: yellow;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    

}
li :hover{ 
	font: 3.5em 'Raleway', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;

}
